@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

:root {
  --clr-darkpurple: #2f2235;
  --clr-englishviolet: #3f3244;
  --clr-eggplant: #60495a;
  --clr-silver: #a9aca9;
  --clr-ash: #bfc3ba;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}

.optionsContainer {
  background-color: var(--clr-darkpurple);
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  justify-content: space-around;
  align-self: center;
}

ul li {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  display: block;
  color: var(--clr-white);
}
