.cartConteiner {
  position: relative;
  color: var(--clr-white);
}

.cartNumber {
  position: absolute;
  color: var(--clr-white);
  margin-left: 20px;
}

.cart {
  color: var(--clr-white);
}

.cart svg {
  height: 25px;
  width: 25px;
  fill: var(--clr-white);
}
