* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}

.footerContainer {
  background-color: var(--clr-darkpurple);
  display: flex;
  justify-content: center;
}

.footerContainer p {
  font-size: 40px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--clr-white);
}

.logoRott {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
