@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --clr-darkpurple: #2f2235;
  --clr-englishviolet: #3f3244;
  --clr-eggplant: #60495a;
  --clr-silver: #a9aca9;
  --clr-ash: #bfc3ba;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}
